*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: lightgray;
}

header{
    vertical-align: middle;
    background-color: white; 
}

.logo{
    margin-left: 20px;
    margin-top: 20px;
    height: 80px;
    width: 1000px;
    display: inline-block;
}

img{
    vertical-align: middle;
}

h1{
    font-weight: 700;
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
}

.container{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.container2{
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    line-height: 50px;
    
}

.button1{
    padding: 11px;
    margin-left: 30px;
    margin-right: 3px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
}

.button2{
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color: lightgray;
}

h2{
    padding-top: 20px;
}

.check{
    padding: 5px;
    border: 1px solid green;
    border-radius: 100px;
    color: green;
    margin-right: 10px;
}

.deny{
    padding: 5px;
    border: 1px solid red;
    border-radius: 100px;
    color: red;
    margin-right: 10px;
}

.tag{
    font-size: 10px;
    background-color: blue;
    color: white;
    border-radius: 12px;
    padding: 10px;
}

.purple{
    background-color: lightpink;
}

.green{
    background-color: lightgreen;
}

.orange{
    background-color: orange;
}

.pink{
    background-color: purple;
}

.yellow{
    background-color: yellow;
}